.sticky-box {
  position: relative;
  overflow: hidden;
  &.sticky-fix {
    > div {
      &.top {
        position: fixed;
      }
      &.bottom {
        position: absolute;
      }
    }
  }
  > div {
    *:first-child {
      margin-top: 0;
    }
  }
}